.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--bg);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-weight: bold;
}

.addBorder {
  border: 4px solid var(--bgSoft) !important;
}
