.spinning-ball {
  position: relative;
  /* top: 10%;
  right: 10%; */
  /* transform: translateY(-20px); */
  color: var(--bg);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  padding: 0;
  margin: -10%;
}

.main-fader .loader svg {
  height: 500px;
  /* display: block; */
  /* margin: 0 auto; */
}
.main-fader .loader svg path {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #26a380;
}
.main-fader .loader svg path.path-7 {
  animation-delay: -1s;
}
.main-fader .loader svg path.path-6 {
  animation-delay: -0.875s;
}
.main-fader .loader svg path.path-5 {
  animation-delay: -0.75s;
}
.main-fader .loader svg path.path-4 {
  animation-delay: -0.625s;
}
.main-fader .loader svg path.path-3 {
  animation-delay: -0.5s;
}
.main-fader .loader svg path.path-2 {
  animation-delay: -0.375s;
}
.main-fader .loader svg path.path-1 {
  animation-delay: -0.25s;
}
.main-fader .loader svg path.path-0 {
  animation-delay: -0.125s;
}
@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}
